*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    body{
        height: 100%;
    }
}

.container{
    background: linear-gradient(50deg, rgba(blue, 0.2), rgba(green, 0.2), rgba(red, 0.2), rgba(brown, 0.2));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    min-height: 100%;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    table{
        position: sticky;
        width: 90%;
        top: 0;
        border-collapse: collapse;
        th{
            background: rgb(105, 197, 162);
            position: sticky;
            top: 0;
            padding: 0.5rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
        tr{
            td{
                border-bottom: 1px solid black;
                padding: 0.5rem;
            }

            &:hover{
                background: rgba(red, 0.3);
            }
        }
    }
}